@media screen and (min-width: 600px) {
    .sidebar{
        position: sticky;
        left: 0;
        top: 0;
        background-color: #fafafa;
        height: 100vh;
        overflow-y: hidden;
        box-shadow: 1px 0 10px 1px rgba(0, 0, 255, .1);
    }
    
    .sidebar-items:hover{
        color: rgb(43, 97, 198);
        border-right: 3px solid rgb(43, 97, 198);
        cursor: pointer;
    }
    
    .sidebar-items.active{
        color: rgb(43, 97, 198);
        border-right: 3px solid rgb(43, 97, 198);
    }

}